/*
TODO:

    • Fathom the glorious Hamburger Menu (~✓)

    • CSS\ (Temp) Style Accueil/Header (✓)

    • HTML/CSS\ Implement Sub Pages/Hreffing/Iding (✓)
    
    • HTML/CSS\ Add Profil Content (~✓) → Projet Pro (Contact Gola)

    • HTML/CSS\ Add Accueil Content (✓)

    • HTML/CSS\ Add Formation Content (✓)

    • HTML/CSS\ Add Autre Content (✓)

    • HTML/CSS\Content\

        - Formation\Débouchés

        - Autres\Veille Technologique

        - Experience\Certificats

        - Experience\{Distinguo}
        
            => Experience General/TH

            => Experience Pratique/EMP/Projets

        - Compétences\OSs

    • CSS\  Ideas

        ( Add highligh/mark tags on key phrases

        ( Implement Alternate color for sections

        ( (Good) Favicon

        ( Images In-Page Icon

        ( Maintain ul:hover status during li:hover trigger

        ( Side links to sub_burge li to simply ref in-page id

        ( Highlight/Grey Out Current page >>Header

*/

/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}
section
{
    width: 1000px;
    margin: 0px auto;
    /* overflow: visible; */
}
footer
{
    width: 100%;
    height: 100px;
    background-color: grey;
    border-top: 0.2vw solid black;
    margin-top: 50px;
    clear: both;
}
p
{
    margin: 30px 0;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    color: black;
}
h1
{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: grey;
    width: 100%;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}
h2
{
    font-size: 30px;
    text-align: justify;
}
h3
{
    font-size: 25px;
    text-align: justify;
    padding-left: 25px;
}
a
{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
}
hr
{
    border: 0.1vw solid grey;
}
ul
{
    list-style-type: none;
}

h2, h3
{
    margin: 30px 0;
    clear: both;
}
h1, h2, h3
{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
header + h1
{
    border-top: none;
}
h3 + p
{
    padding-left: 25px;
}
h3::before
{
    content:"↳ ";
    font-size: 25px;
}
*::selection
{
    color: white;
    background-color: black;
}

span.comment
{
    font-weight: normal;
    background-color: black;
    color: lightgrey;
    border-radius: 10px;
    padding: 2px;
}

/* Header/Hamburger Menu */

header
{
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    position: sticky;
    top: 0px
}
header ul li
{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
header a
{
    font-size: 1.5vw;
    border: 0.2vw solid black;
    border-right: 0.075vw solid black;
    border-left: 0.075vw solid black;
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 8px 5px
}

ul.sub_burger
{
    display: none;
    background-color: grey;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
ul.sub_burger a
{
    font-size: 1.25vw;
    border: 0.2vw solid black;
    padding: 10px;
    border-top: none;
}
ul.sub_burger li
{
    float: none;
    width: 100%;
    text-align: left;
}

header a:hover
{
    background-color: black;
    color: lightgrey;
}
li.burger > a:hover
{
    background-color: grey;
}
header > ul li:hover ul.sub_burger
{
    display: block;
}
header ul::after
{
    content: "";
    display: table;
    clear: both;
}
li.burger > a::after
{
    content:" ▼";
    font-size: 1.25vw;
}

/* Accueil */

p.p0
{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    background-color: lightslategrey;
}

/* Profil */

h2#propos
{
    margin-bottom: 0;
}
div.bg1
{
    width: 200px;
    border: 2px solid rgb(0, 0, 0);
    background-color: lightslategrey;
    border-radius: 10px;
    float: right;
    margin: 30px 0;
    margin-right: 85px;
}

p.p1
{
    float: left;
    width: 65%;
}

div.chrono
{
    border-left: 3px solid rgb(0, 0, 0);
    padding-left: 10px;
}

ul.comp
{
    height: 120px;
}
ul.comp li
{
    float: left;
    border: 0.2vw solid black;
    background-color: lightslategrey;
    border-radius: 10px;
    width: 140px;
    height: 100px;
    margin: 10px;
}
ul.comp li p
{
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-bottom: 0.2vw solid black;
}
ul.comp li:hover
{
    background-color: black;
}

ul.comp li:hover p
{
    color: lightgrey;
    background-color: black;
}
ul.comp li img
{
    width: 45%;
    margin: 2px 39px;
}
ul.comp :nth-child(3) p
{
    font-size: 15px;
    padding: 2.5px;
}
ul.comp :nth-child(3) img[src="../images/sh.png"]
{
    margin: 5px 0px 5px 5px;
    float: left;
}
ul.comp :nth-child(3) img[src="../images/posh.png"]
{
    width: 42%;
    margin: 7px 8px 5px 0px;
    float: right;
}
ul.comp :nth-child(4) img
{
    margin-top: 8px;
}
ul.comp :nth-child(5) img[src="../images/html.png"]
{
    width: 50%;
    margin: 0;
    float: left;
}
ul.comp :nth-child(5) img[src="../images/css.png"]
{
    margin: 5px 5px 5px 0px;
    float: right;
}
ul.comp :nth-child(6) img
{
    width: 60%;
    margin: 2px 29px;
    margin-top: 8px;
}
h3#os + ul.comp
{
    float: left;
    width: 350px;
    margin-bottom: 25px;
}
h3#os + ul.comp li
{
    width: 140px;
}
h3#os + ul.comp li img[src="../images/windows.png"]
{
    width: 50%;
    margin-left: 36px;
}
p.os
{
    float: left
}
p.p2
{
    margin-top: 0px;
    float: left;
    width: 25%;
}

/* Formation */

p.p3
{
    margin-top: 0px;
    float: left;
    width: 65%;   
}

div.bg2
{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    background-color: lightslategrey;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

div.bg3
{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    background-color: lightslategrey;
    border-radius: 10px;
    float: right;
    margin-top: 15px;
    margin-right: 60px;
}

div.bg2 img[src="../images/server.png"]
{
    margin-left: 10px;
}

div.bg3 p
{
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #EEEEEE;
    margin: 20px 10px 0px 10px
}

/* Autres */

ul.tool
{
    width: 75%;
    height: 150px;
    margin-bottom: 50px;
}
ul.tool li
{
    float: left;
    border: 0.2vw solid black;
    background-color: lightslategrey;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 10px;
}
ul.tool li p
{
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-bottom: 0.2vw solid black;
}

ul.tool li:hover
{
    background-color: black;
}
ul.tool li:hover p
{
    color: lightgrey;
    background-color: black;
}

ul.tool li img
{
    width: 60%;
    margin: 5px 32px;
}

ul.tool :nth-child(3) p
{
    font-size: 18px;
    padding: 2.5px;
}

ul.tool :nth-child(4) p
{
    padding: 11px;
}

p.p4
{
    float: left;
    margin-top: 0px;
    margin-right: 20px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    background-color: lightslategrey;
}
form.f1
{
    float: right;
    margin-top: 0px;
    margin-right: 205px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    background-color: lightslategrey;
    margin-left: 0px;
}

form.f1 input, textarea
{
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    width: 90%;
    height: 20px;
    border-radius: 10px;
    background-color: lightgrey;
}

form.f1 textarea
{
    height: 100px;
}
form.f1 input[type="submit"]
{
    height: 30px;
    width: 50%;
}

form.f1 input[type="submit"]:hover
{
    background-color: black;
    color: lightgrey;
}

span.emoji
{
    background-color: grey;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 40px;
}