<!DOCTYPE html>
<html lang="fr">
    <head>
        <link href="style.css" rel="stylesheet">
        <meta charset="UTF→8">
        <title>Portfolio</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="">Accueil</a></li>
                <li class="burger">
                    <a href="pages/profil.html">Profil &ensp;</a>
                    <ul class="sub_burger">
                        <li><a href="pages/profil.html#propos">À Propos de moi</a></li>
                        <li><a href="pages/profil.html#experience">Mon Experience Pro.</a></li>
                        <li><a href="pages/profil.html#projet">Mon Projet Pro.</a></li>
                        <li><a href="pages/profil.html#competences">Mes Compétences</a></li>
                    </ul>
                </li>
                <li class="burger">
                    <a href="pages/formation.html">Formation &ensp;</a>
                    <ul class="sub_burger">
                        <li><a href="pages/formation.html#sio">BTS SIO</a></li>
                        <li><a href="pages/formation.html#e4">E4</a></li>
                        <li><a href="pages/formation.html#e5">E5</a></li>
                    </ul>
                </li>
                <li class="burger">
                    <a href="pages/autres.html">Autres Infos. &ensp;</a>
                    <ul class="sub_burger">
                        <li><a href="pages/autres.html#veille">Veille</a></li>
                        <li><a href="pages/autres.html#contact">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </header>

        <h1>Portfolio: Paul SICOLI</h1>
        
        <section>
            <h2>Bienvenue</h2>
            <p>
                Dans ce portfolio, je vous présenterais l'ensemble des modalités spécifiques et concomitantes à mon parcours scolaire et professionnel. Vous aurez à travers 3 pages différentes une vue d'ensemble de mes compétences, experiences et aquis se rapportant à mon parcours ainsi qu'une description de la formation de BTS SIO, y compris la spécialisation que j'ai choissie.<br><br> Ci-dessous est représentée l'arborescence des pages web du portfolio.
            </p>
            <p class="p0">
                • Accueil <span class="comment">=> Vous êtes içi</span><br><br>• Profil<br><br>&emsp;&emsp;→ Mon Experience Pro.<br><br>&emsp;&emsp;→ À Propos de moi<br><br>&emsp;&emsp;→ Mon Projet Pro.<br><br>&emsp;&emsp;→ Mes Compétences<br><br>&emsp;&emsp;&emsp;&emsp;↳ Langages<br><br>&emsp;&emsp;&emsp;&emsp;↳ Systèmes<br><br>&emsp;&emsp;&emsp;&emsp;↳ Compétences<br>&emsp;&emsp;&emsp;&emsp;&emsp;Transversales<br><br>• Formation<br><br>&emsp;&emsp;→ BTS SIO<br><br>&emsp;&emsp;&emsp;&emsp;↳ SLAM<br><br>&emsp;&emsp;&emsp;&emsp;↳ SISR<br><br>&emsp;&emsp;→ E5<br><br>&emsp;&emsp;→ E4<br><br>• Autres Infos.<br><br>&emsp;&emsp;→ Contact<br><br>&emsp;&emsp;→ Veille/Outils<br>
            </p>
            <p>
                Bonne Navigation!
            </p>
        </section>
        <footer></footer>
    </body>
</html>