/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100%;
}
section
{
    width: 1000px;
    margin: 0px auto;
}
footer
{
    height: 260px;
    /* margin-top: 100px; */
	background-color: #444444;
    color: whitesmoke;
    width: 100%;
    clear: both;
    text-align: center;
}
p
{
    /* margin: 30px 0; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-family: cre;
    text-decoration: none;
    text-align: justify;
    color: black;
}
h1
{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
h2
{
    font-size: 30px;
    text-align: justify;
}
a
{
    text-decoration: none;
    color: black;
}
hr
{
    border: 0.1vw solid grey;
}
ul
{
    list-style-type: none;
}

body *
{
    font-family: Arial, sans-serif;
}
h2, h3
{
    margin: 30px 0;
    clear: both;
}
header + h1
{
    border-top: none;
}
footer h1
{
    padding-top: 80px;
    padding-bottom: 30px;
}
h3 + p
{
    margin-left: 25px;
}
h3::before
{
    content:"↳ ";
    font-size: 25px;
}
*::selection
{
    color: white;
    background-color: #d83e40;
}

span.copyright
{
    text-align: center;
	font-weight: bold;
	padding-top: 30px;
	color: #777777;
}

span.comment
{
    font-weight: normal;
    background-color: black;
    color: lightgrey;
    border-radius: 10px;
    padding: 2px;
}

/* Header/Hamburger Menu */

header
{
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
    border-top: 0.5vw solid #d83e40;
    border-bottom: 1px solid #d83e40;   
}
header ul
{   
    margin-right: 50px;
}
header ul img
{
    padding-left: 12.5%;
    width: 12.5%;
}
header ul li
{
    float: right;
    width: 18%;
    text-align: center;
    position: relative;
}
header a
{
    font-size: 1.5vw;
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    margin-top: 2vw;
}

ul.sub_burger
{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
ul.sub_burger a
{
    font-size: 1.25vw;
    margin: 20px;
}
ul.sub_burger li
{
    float: none;
    width: 100%;
    text-align: left;
}

header ul li:nth-child(5)
{
    width: 10%;
}
header a:hover
{
    animation-name: fade;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}
header > ul li:hover ul.sub_burger
{
    display: block;
}
header ul::after
{
    content: "";
    display: table;
    clear: both;
}
li.burger > a::after
{
    content:" ▼";
    font-size: 1.25vw;
}

/* Accueil */

section#overview ul
{
    height: 300px;
    margin: 80px 0px;
}

section#overview ul li
{
    width: 300px;
    height: 150px;
    border-radius: 100%;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 20px;
    background-color: #d83e40;
    border-color: #d83e40;
}

li#step1
{
    background: url('images/step1.png') no-repeat top center;
    background-size: 125%;
    background-position: center;
    margin-left: 35px;
}

li#step2
{
    background: url('images/step2.png') no-repeat top center;
    background-size: 125%;
    background-position: 0% 50%;
}
li#step3
{
    background: url('images/step3.png') no-repeat top center;
    background-size: 125%;
    background-position: center;
}

div.steps_overlay
{
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    height: 60px;
    /* box-sizing: border-box; */
}

/* Profil */

/* Formation */

/* Autres */

/* Animations/Keyframes */

@keyframes fade
{
    0%
    {
        color: rgba(0, 0, 0, 1);
        border-bottom: 0.15vw solid rgba(216, 62, 64, 0);
    }
    50%
    {
        color: rgba(216, 62, 64, 1);
        border-bottom: 0.15vw solid rgba(216, 62, 64, 0.5);
    }
    100%
    {
        color: rgba(216, 62, 64, 1);
        border-bottom: 0.15vw solid rgba(216, 62, 64, 1);
    }
}