/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100%;
}
section
{
    width: 1000px;
    margin: 0px auto;
}
footer
{
    height: 260px;
	background-color: #444444;
    color: whitesmoke;
    width: 100%;
    margin-top: 50px;
    /* clear: both; */
    text-align: center;
}
p
{
    margin: 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    color: black;
}
h1
{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
h2
{
    font-size: 30px;
    text-align: justify;
}
a
{
    text-decoration: none;
    color: black;
}
hr
{
    border: 0.1vw solid grey;
}
ul
{
    list-style-type: none;
}

body *
{
    font-family: Arial, sans-serif;
}
h2, h3
{
    margin: 30px 0;
    clear: both;
}
header + h1
{
    border-top: none;
}
footer h1
{
    padding-top: 80px;
    padding-bottom: 30px;
}
h3 + p
{
    margin-left: 25px;
}
h3::before
{
    content:"↳ ";
    font-size: 25px;
}
*::selection
{
    color: white;
    background-color: #d83e40;
}

span.copyright
{
    text-align: center;
	font-weight: bold;
	padding-top: 30px;
	color: #777777;
}

span.comment
{
    font-weight: normal;
    background-color: black;
    color: lightgrey;
    border-radius: 10px;
    padding: 2px;
}

/* Header/Hamburger Menu */

header
{
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
    border-top: 10px solid #d83e40;
    border-bottom: 1px solid #d83e40;   
}
header ul
{   
    margin-right: 50px;
}
header ul img
{
    padding-left: 150px;
    width: 12.5%;
}
header ul li
{
    float: right;
    width: 18%;
    text-align: center;
    position: relative;
}
header a
{
    font-size: 1.5vw;
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    margin-top: 2vw;
}

ul.sub_burger
{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
ul.sub_burger a
{
    font-size: 1.25vw;
    margin: 10px;
}
ul.sub_burger li
{
    float: none;
    width: 100%;
    text-align: left;
}

/* header + ul:nth-child(1)
{
    float: right;
    width: 100%;
} */
header a:hover
{
    color: #d83e40;
    border-bottom: 3px;
    border-bottom: 1.5px solid #d83e40;
}
header > ul li:hover ul.sub_burger
{
    display: block;
}
header ul::after
{
    content: "";
    display: table;
    clear: both;
}
li.burger > a::after
{
    content:" ▼";
    font-size: 1.25vw;
}

/* Accueil */

/* Profil */

/* Formation */

/* Autres */