/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

h1,h2,h3,h4
{
    color: #444444;
}

h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}

h2
{
    font-size: 55px;
}

h3
{
    font-size: 30px;
}

h4
{
    font-size: 24px;
}

p
{
    line-height: 20px;
    color: #777777;
}

a
{
    text-decoration: none;
    color: #444444;
}

ul
{
    list-style: none;
}

small
{
    font-size: 13px;
    font-style: italic
}

div.bg
{
    width: 200px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #cf2e2e;
    border-radius: 10px;
    float: right;
    margin: 30px 0;
    margin-right: 85px;
}

.wrapper
{
    width: 1000px;
    margin: 0px auto;
    padding: 0px 10px;
}

.clear
{
    clear: both;
}

/* Header */

header
{
    height: 120px;
}

header img
{
    padding-top: 16px;
    width: 200px;
    float: left;
}

header h1
{
    margin-top: 32px;
    float: left;
}

header nav
{
    margin-top: 50px;
    float: right;
}
header nav ul li
{
    display: block;
    float: left;
}

header nav ul li a
{
    text-transform: uppercase;
    margin-right: 20px;
}

/* Produits */

#produits
{
    height: 580px;
    /* background: url("images/main.jpg") center; */
}

#produits h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
    color: #444444;
}

.button1
{
    display: block;
    width: 120px;
    height: 50px;
    background: #cf2e2e;
    color: #ffffff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 6px 16px 6px 16px;
}

.button1:hover
{
    background: #02b8dd;
}

/* Overview */

#overview ul
{
    margin: 80px 0;
}
#overview ul li
{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
}

#overview h4
{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#overview p
{
    margin-bottom: 20px;
}

#step1
{
    background: url('images/steps-icon-1.png') no-repeat top center;
    margin-left: 35px;
}
#step2
{
    background: url('images/steps-icon-2.png') no-repeat top center;
}
#step3
{
    background: url('images/steps-icon-3.png') no-repeat top center;
}

/* Engagement */

article h4
{
    /* border-left: 1px solid #dddddd; */
    /* padding-left: 20px; */
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

#engagement
{
    background-color: #efefef;
    padding: 60px 0;
    height: 250px;
}

#engagement article
{
    width: 250px;
    height: 270px;
    float: left;
    border-radius: 10px;
}

#engagement p
{
    text-align: center;
    margin-bottom: 20px;
}

#engagement article:first-child
{
    margin-right: 20px;
}

.overlay
{
    background: rgba(255, 255, 255, 0.95);
    height: 270px;
    width: 200px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}

.button2
{
    color: #ffffff;
    background-color: #cf2e2e;
    padding: 6px 20px;
    border-radius: 6px 16px 6px 16px;
}

.button2:hover
{
    background-color: #02b8dd;
}

/* Contact */

#contact
{
    padding: 60px 0;
    text-align: center;
}

#contact h3
{
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #cf2e2e;
    padding-bottom: 20px
}

form
{
    margin: 60px 0 20px 0;
}

label
{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777777;
}

input[type="text"]
{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    box-shadow: none;
}

.button3
{
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: 30px;
    background-color: #cf2e2e;
    border-style: none;
    border-radius: 6px 16px 6px 16px;
}

.button3:hover
{
    background-color: #444444;
}

/* Footer */

footer
{
	height: 260px;
	background-color: #444444;
}

footer h1
{
	color: #ffffff;
	text-align: center;
	padding-top: 80px;
}

.copyright
{
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
	color: #777777;
}